{% extends 'base.html' %}
{% load static %}

{% block title %} Kanyno | Acerca de Kanyno {% endblock %}

{% block content %}
<!-- Heading -->
<div class="mx-auto p-4" style="width: 900px;">
  <p class="h1 text-center">Acerca de Kanyno</p>
</div>

<!-- Content -->
<div class="mx-auto p-4" style="width: 900px;">
  <p class="h4">¿Qu&eacute; es Kanyno?</p>
  <p>
    El vínculo entre las mascotas y las personas es verdaderamente único.
    Construido sobre el compañerismo, las experiencias y el amor compartido,
    inspira nuestra creencia de que cuando las personas y las mascotas se unen,
    la vida es mucho mejor. Es por eso que en Kanyno nos hemos comprometido en
    ayudar a las mascotas a tener una vida más larga, feliz y saludable a través
    de la nutrición y el cuidado adecuados, desarrollando un sistema de
    recomendación alimentacia para perros. Como amantes y propietarios de
    mascotas, sabemos como una nutrición de calidad puede ayudar a las mascotas
    a tener una vida más larga y saludable para disfrutarla junto a las personas
    que las quieren. Enriquecer la vida de los animales de compañía y sus
    familias es nuestra razón de existir y dar lo mejor de nosotros. Juntos la
    vida es mejor.
  </p>

  <p class="h4">Misi&oacute;n</p>
  <p>
    El enfoque de Kanyno en la ciencia de la nutrición de los animales de
    compañía y cómo puede desempeñar un papel importante en la salud de las
    mascotas se ha ido extendiendo, con avances que han redefinido los
    estándares de la industria. Aunque nunca ha sido tan fácil encontrar
    información sobre la nutrición de las mascotas como ahora, encontrar
    información de confianza puede resultar difícil. Así que, en 2023 Kanyno
    lanza esta plataforma, una voz global que comparte la ciencia de la
    nutrición con profesionales veterinarios y líderes de opinión científica
    para ayudar a los animales de compañía a vivir una vida más larga y mejor.
  </p>

  <p class="h4">Visi&oacute;n</p>
  <p>
    La nutrición es la base de lo que hacemos, pero no es todo lo que hacemos.
    Estamos comprometidos en hacer más de lo que importa, más allá del bol, por
    las mascotas, por las personas que las quieren y por el planeta que
    compartimos. Por eso nos hemos centrado en alcanzar nuestros compromisos,
    que giran en torno a iniciativas para los animales de compañía, la sociedad
    y el medio ambiente.
  </p>
</div>
{% endblock %}
