{% extends 'base.html' %}
{% load static %}

{% block title %} Kanyno | Contacto {% endblock %}

{% block content %}
<!-- Heading -->
<div class="container-fluid">
  <p class="h1 text-center">Contacto</p>
  <p class="h4 text-center">
    Ponte en contacto con nosotros directamente si tiene alguna pregunta
  </p>
</div>

<!-- Content -->
<div class="container">
  <div class="container-fluid">
    <p>
      Si tiene alguna pregunta, escriba a continuaci&oacute;n su nombre,
      direcci&oacute;n de correo electr&oacute;nico y un mensaje. Un miembro de
      nuestro personal estar&aacute; encantado de ponerse en contacto
      directamente con usted y responder a sus preguntas lo antes posible.
    </p>
  </div>
</div>
{% endblock %}
