{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block title %} Kanyno | Edici&oacute;n de usuario {% endblock %}

{% block content %}
<!-- Heading -->
<div class="mx-auto p-5" style="width: 700px">
  <p class="h1 text-center">Edici&oacute;n de usuario</p>
</div>

<!-- Errors messages -->
{% if error is not defined %}
<div class="mx-auto p-4" style="width: 700px">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>¡Santo guacamole!</strong> {{ error }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
</div>
{% endif %}

<!-- Content -->
<div class="mx-auto p-3" style="width: 700px">
  <form action="/account/edit/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{ user.user }}" />
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-secondary">Guardar</button>
  </form>
</div>
{% endblock %}
