{% extends 'base.html' %}
{% load static %}

{% block title %} Kanyno | Pancita llena, perrito contento {% endblock %}

{% block content %}
<!-- Heading -->
<div class="container-fluid">
  <p class="h1 text-center">Kanyno</p>
  <p class="h4 text-center"><i>Pancita llena, perrito contento.</i></p>
</div>

<!-- Content -->
<div class="container">
  <!-- Carousel -->
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% url 'calculator' %}">
          <img
            src="{% static 'img/dog_img1.jpg' %}"
            class="d-block w-100"
            alt="Perro comiendo alimento para perro"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>¿No sabes cuanto come tu perrito?</h5>
          <p>
            Con nuestra calculadora de gramaje para perro no tendr&aacute;s
            m&aacute;s ese problema.
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'about' %}">
          <img
            src="{% static 'img/dog_img2.jpg' %}"
            class="d-block w-100"
            alt="Dos perros sentados en una pradera"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Sabes que es Kanyno?</h5>
          <p>Puedes dar "clic" en la imagen y descubrir que es Kanyno.</p>
        </div>
      </div>
      <div class="carousel-item">
        <a href="{% url 'contact' %}">
          <img
            src="{% static 'img/dog_img3.jpg' %}"
            class="d-block w-100"
            alt="Un perro con lentes sentado en una silla"
          />
        </a>
        <div class="carousel-caption d-none d-md-block">
          <h5>¿Tienes duda?</h5>
          <p>Puedes ponerte en contacto con nosotros.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <!-- Text -->
  <div class="container-sm">
    <p class="h4">¿Qu&eacute; es un perro?</p>
    <p>
      Mamífero carnívoro/omnívoro depredador de la familia de los cánidos, es
      una subespecie del lobo (Canis lupus). Como la mayoría de mamíferos
      depredadores, el perro tiene músculos potentes y un sistema cardiovascular
      que permite alcanzar altas velocidades y una gran resistencia. Posee un
      oído y olfato muy desarrollados, siendo este último su principal órgano
      sensorial. Sus dientes son para cazar, aguantar y desgarrar las presas. Su
      tamaño, fuerza, resistencia, forma y pelaje dependen de la raza. No existe
      un dimorfismo sexual marcado, sin embargo los machos tienden a ser más
      grandes y musculosos que las hembras.
    </p>

    <p>
      El perro domestico ha convivido con los humanos cerca de 14 mil años, como
      perros de compañía, de guardia, de trabajo, de caza, galgos de carrera,
      perros guía, perros pastores o perros boyeros. Son animales sociables con
      una jerarquía de dominancia bien establecida. Su promedio de vida es de 15
      años.
    </p>

    <p class="h4">Beneficios de tener un perro</p>
    <ul class="list-unstyled">
      <li>
        Los propietarios de un perro tienen menos probabilidad de padecer
        problemas de salud.
      </li>
      <li>
        Los propietarios de perros tienen un sistema inmunitario más fuerte, que
        les ayuda a estar bien y a pasar menos tiempo superando enfermedades e
        infecciones.
      </li>
      <li>
        Los niños con enfermedades crónicas suelen enfrentarse mejor al
        tratamiento si cuentan con un compañero canino.
      </li>
      <li>
        Los perros nos proporcionan una sensación de bienestar emocional a
        través del amor incondicional que nos dan; por eso, son una gran
        compañía y consuelo para las personas que viven solas.
      </li>
      <li>
        Tener un perro puede ayudar a las personas a recuperarse de un trauma
        personal, como la pérdida de un ser querido.
      </li>
      <li>
        Convivir con un perro puede ayudar a los pacientes de trastornos
        mentales a recuperarse y a sentirse mejor.
      </li>
    </ul>

    <p class="h4">Alimentaci&oacute;n de un perro</p>
    <p>
      Elegir una buena alimentación para perros es fundamental para aportarles
      todos los nutrientes esenciales y favorecer su estado de salud. Como
      sucede en las personas, los perros tienen necesidades nutricionales y
      energéticas distintas en función de su edad, tamaño, etapa de vida, nivel
      de actividad física y otros factores específicos en cada animal. En
      consecuencia, es importante adaptar la comida para perros cuando son
      cachorros y realizar una transición de la alimentación en la etapa adulta.
    </p>
  </div>
</div>
{% endblock %}
