{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Kanyno | Mis mascotas {% endblock %}

{% block content %}
<!-- Heading -->
<div class="mx-auto p-5" style="width: 700px">
  <p class="h1 text-center">Mis mascotas</p>
</div>

<!-- Content -->
<div class="container-sm">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button
        class="nav-link active"
        id="nav-view-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-view"
        type="button"
        role="tab"
        aria-controls="nav-view"
        aria-selected="true"
      >
        Mis mascotas
      </button>
      <button
        class="nav-link"
        id="nav-add-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-add"
        type="button"
        role="tab"
        aria-controls="nav-add"
        aria-selected="false"
      >
        Agregar mascota
      </button>
      <button
        class="nav-link"
        id="nav-cal-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-cal"
        type="button"
        role="tab"
        aria-controls="nav-cal"
        aria-selected="false"
      >
        Mis c&aacute;lculos
      </button>
      <button
        class="nav-link"
        id="nav-edit-del-tab"
        data-bs-toggle="tab"
        data-bs-target="#nav-edit-del"
        type="button"
        role="tab"
        aria-controls="nav-edit-del"
        aria-selected="false"
      >
        Editar y eliminar mascota
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="nav-view"
      role="tabpanel"
      aria-labelledby="nav-view-tab"
      tabindex="0"
    >
      <div class="container-sm text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">N&uacute;mero</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Raza</th>
              <th scope="col">Sexo</th>
              <th scope="coo">Calcular gramaje</th>
            </tr>
          </thead>
          <tbody>
            {% for pet in pets %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ pet.nombre }}</td>
              <td>{{ pet.fecha_de_nacimiento }}</td>
              <td>{{ pet.raza }}</td>
              <td>{{ pet.sexo }}</td>
              <td>
                <a
                  class="btn btn-outline-secondary"
                  href="/calculator/{{ pet.clave_de_mascota }}"
                  role="button"
                  >Calcular</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-add"
      role="tabpanel"
      aria-labelledby="nav-add-tab"
      tabindex="0"
    >
      <div class="mx-auto p-3" style="width: 700px">
        <form action="/pets/add/" method="POST">
          {% csrf_token %} {{ formAdd | crispy }}
          <button type="submit" class="btn btn-outline-secondary">
            Agregar
          </button>
        </form>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-cal"
      role="tabpanel"
      aria-labelledby="nav-cal-tab"
      tabindex="0"
    >
      <div class="container-sm text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">No. De c&aacute;lculo</th>
              <th scope="col">Nombre de la mascota</th>
              <th scope="col">Nombre del producto</th>
              <th scope="col">Fecha de cálculo</th>
              <th scope="col">Gramaje</th>
            </tr>
          </thead>
          <tbody>
            {% for petCalculation in petsCalculations %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ petCalculation.clave_de_mascota.nombre }}</td>
              <td>{{ petCalculation.nombre_producto }}</td>
              <td>{{ petCalculation.fecha_de_calculo }}</td>
              <td>{{ petCalculation.gramaje }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="tab-pane fade"
      id="nav-edit-del"
      role="tabpanel"
      aria-labelledby="nav-edit-del-tab"
      tabindex="0"
    >
      <div class="container-sm text-center">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">N&uacute;mero</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Raza</th>
              <th scope="col">Sexo</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for pet in pets %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ pet.nombre }}</td>
              <td>{{ pet.fecha_de_nacimiento }}</td>
              <td>{{ pet.raza }}</td>
              <td>{{ pet.sexo }}</td>
              <td>
                <a
                  class="btn btn-outline-primary me-2"
                  href="/pets/edit/{{ pet.clave_de_mascota }}"
                  role="button"
                  >Editar</a
                >
                <a
                  class="btn btn-outline-danger"
                  href="/pets/delete/{{ pet.clave_de_mascota }}"
                  role="button"
                  >Eliminar</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
